section.hero {
  width: 100%;
  padding: 1rem 1.5rem;
  margin-inline: auto;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2rem;
  overflow: hidden;

  & h1 {
    max-width: 19.5rem;
  }

  & h1 div {
    display: inline-block;
    overflow: hidden;
    height: 2.5rem;
    width: min-content;
    vertical-align: bottom;
  }

  &  h1 span:nth-child(1),
  & h1 span:nth-child(4) {
    color: var(--snitap-sky-mid);
  }

  & h1 span:nth-child(2){
    color: var(--snitap-joy-mid);
  }

  & h1 span:nth-child(3){
    color: var(--snitap-leaf-mid);
  }

  & h1 span {
    display: block;
    animation: slideUpSmall 5s 2s infinite ease;
    -webkit-animation: slideUpSmall 5s 2s infinite ease;
    transform: translateY(var(--offset));
    -webkit-transform: translateY(var(--offset));
    -moz-transform: translateY(var(--offset));
    -ms-transform: translateY(var(--offset));
    -o-transform: translateY(var(--offset));
}

  /* buttons */
  & .buttons {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;

    & .button {
      display: flex;
      align-items: center;
      gap: .75rem;
      border-radius: 5rem;
      -webkit-border-radius: 5rem;
      -moz-border-radius: 5rem;
      -ms-border-radius: 5rem;
      -o-border-radius: 5rem;
      transition: scale 350ms;
      -webkit-transition: scale 350ms;
      -moz-transition: scale 350ms;
      -ms-transition: scale 350ms;
      -o-transition: scale 350ms;

      &.buy {
        padding: 1.5rem 3rem;
        background-color: var(--snitap-sun);
      }

      &.play span {
        padding: 1.5rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: white;
        display: flex;
      }

      &:hover {
        scale: 1.1;
      }
    }

    & .shadow {
      box-shadow:
        0 2px 5px rgb(0 0 0 /.1),
        0 9px 9px rgb(0 0 0 /.09),
        0 20px 12px rgb(0 0 0 /.05),
        0 36px 15px rgb(0 0 0 /.01);
    }
  }

  /* skates */
  & > div:nth-child(2) {
    display: block;
    width: 100%;
    max-width: 19.5rem;
    height: 18.44rem;

    & .content {
      width: 100%;
      height: 100%;
      position: relative;
    }

    & img {
      position: absolute;
      width: 100%;
    }

    & img[src*="ellipse"] {
      width: 94%;
      top: 0%;
      left: 3%;
      transform: translateX(200%);
      -webkit-transform: translateX(200%);
      -moz-transform: translateX(200%);
      -ms-transform: translateX(200%);
      -o-transform: translateX(200%);
      animation: slideIn 3s 200ms ease forwards;
      -webkit-animation: slideIn 3s 200ms ease forwards;
    }

    & img[src*="patins"] {
      z-index: 1;
      transform: translateX(200%);
      -webkit-transform: translateX(200%);
      -moz-transform: translateX(200%);
      -ms-transform: translateX(200%);
      -o-transform: translateX(200%);
      animation: slideIn 3s ease forwards;
      -webkit-animation: slideIn 3s ease forwards;
    }

    & img[src*="stars-1"] {
      max-width: 3.5rem;
      top: 30%;
      left: 2%;
      z-index: 0;
      opacity: 0;
      transform: translateX(400%);
      -webkit-transform: translateX(400%);
      -moz-transform: translateX(400%);
      -ms-transform: translateX(400%);
      -o-transform: translateX(400%);
      animation: slideIn 2s 800ms ease forwards, appear 100ms 800ms forwards;
      -webkit-animation: slideIn 2s 800ms ease forwards, appear 100ms 800ms forwards;
}

    & img[src*="stars-2"] {
      max-width: 1.6rem;
      right: 1%;
      bottom: 32%;

      transform: translateX(400%);
      -webkit-transform: translateX(400%);
      -moz-transform: translateX(400%);
      -ms-transform: translateX(400%);
      -o-transform: translateX(400%);
      animation: slideIn 2.2s 800ms ease forwards;
      -webkit-animation: slideIn 2.2s 800ms ease forwards;
    }
  }
}

@media (width >= 80em) {
  section.hero {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 2rem;
    gap: 0;

    & h1 {
      max-width: 40rem;
    }

    & h1 span {
      animation: slideUp 5s 2s infinite ease;
      -webkit-animation: slideUp 5s 2s infinite ease;
}

    & h1 div {
      height: 5rem;
    }

    & .buttons {
      flex-direction: row;
      gap: 2rem;
      margin-bottom: 0;
    }

    & > div:nth-child(2) {
      max-width: 30.5rem;
      height: 30.5rem;

      & img[src*="ellipse"] {
        top: 3%;
      }

      & img[src*="stars-1"] {
        max-width: 5.5rem;
      }

      & img[src*="stars-2"] {
        max-width: 2.5rem;
        bottom: 35%;
        right: 0.5%;
      }
    }
  }
}

@keyframes slideIn {
  50% {
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
}
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  /* radical static */
  0%, 22% {
    --offset: 0;
  }
  /* divertida in */
  23% {
    --offset: calc(-5rem - 15px);
  }
  25% {
    --offset: calc(-5rem + 10px);
  }
  27% {
    --offset: calc(-5rem - 5px);
  }
  29% {
    --offset: calc(-5rem + 5px);
  }
  /* divertida static */
  33%, 55% {
    --offset: -5rem;
  }
  /* saudável in */
  56% {
    --offset: calc(-10rem - 15px);
}
  58% {
    --offset: calc(-10rem + 10px);
  }
  60% {
    --offset: calc(-10rem - 5px);
  }
  62% {
    --offset: calc(-10rem + 5px);
  }
  /* saudável static */
  66%, 88% {
    --offset: -10rem;
  }
  /* radical in */
  89% {
    --offset: calc(-15rem - 15px);
  }
  91% {
    --offset: calc(-15rem + 10px);
  }
  93% {
    --offset: calc(-15rem - 5px);
  }
  95% {
    --offset: calc(-15rem + 5px);
  }
  100% {
    --offset: -15rem;
  }
}

@keyframes slideUpSmall {
  /* radical static */
  0%, 22% {
    --offset: 0;
  }
  /* divertida in */
  23% {
    --offset: calc(-2.5rem - 7.5px);
  }
  25% {
    --offset: calc(-2.5rem + 5px);
  }
  27% {
    --offset: calc(-2.5rem - 2.5px);
  }
  29% {
    --offset: calc(-2.5rem + 2.5px);
  }
  /* divertida static */
  33%, 55% {
    --offset: -2.5rem;
  }
  /* saudável in */
  56% {
    --offset: calc(-5rem - 7.5px);
  }
  58% {
    --offset: calc(-5rem + 5px);
  }
  60% {
    --offset: calc(-5rem - 2.5px);
  }
  62% {
    --offset: calc(-5rem + 2.5px);
  }
  /* saudável static */
  66%, 88% {
    --offset: -5rem;
  }
  /* radical in */
  89% {
    --offset: calc(-7.5rem - 7.5px);
  }
  91% {
    --offset: calc(-7.5rem + 5px);
  }
  93% {
    --offset: calc(-7.5rem - 2.5px);
  }
  95% {
    --offset: calc(-7.5rem + 2.5px);
  }
  100% {
    --offset: -7.5rem;
  }
}